<head>
  <link href="<%= url('/style.css') %>" rel="stylesheet" type="text/css" />
<title>Ruby n B</title></head><br>
<h2><span class="highlight">Be a host!</span></h2>
<form action='/add_listing' method='post'>
  <h3><p>Please enter your property name<br>
  <input type= 'text' name= 'property_name' style="border:none"></p></h3><br><br>
  <h3><p>Please enter your price per night<br>
  <input type= 'text' name= 'price' style="border:none"></p></h3><br><br>
  <h3><p>Please enter your available dates<br>
  <input type= 'date' name= 'available_dates' style="border:none"></p></h3><br><br>
  <h3><p>Please enter a description<br>
  <input type= 'text' name= 'description' style="border:none">
  <input type= 'submit' value = "Submit" class = "button" style="border:none"></p></h3><br><br><br>
</form>

<br><h6><a href="/">Go back to main</a></h6>
